.file{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        
    &.img{
        height: 58px;
    }
    &.relative{
        position: relative;
    }
    &.absolute{
        position: absolute;
        font-size: 12px;
        bottom: 4px;
        left: 4px;
        color: #fff4b5;
    }
}