.content{
 &.childs{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 20px;

   
 }
 &.flex{display: flex;align-items: center;}
 &.add{
    height: 90px;
    cursor: pointer;
 }
 &.add-div{
   min-width: 100px;
   min-height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
  
   
 }
}