.folder {
  &.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    min-height: 100px;
    min-width: 100px;
  }
  &.root:hover {
    background-color: #e6f5ff;
  }
  &.img {
    width: 68px;
    padding: 2px;
  }
  &.bgBlue {
    background-color: #e6f5ff;
  }
  &.name {
    font-size: 14px;
  }
}
